<!--title-->
<h1>hi, i'm Tucker</h1>
<ul class="socials">
    
    <li><a href="https://github.com/tuckers15" class="social-icon">
        <div class="logo">
            <img src="https://github.com/tuckers15/my_website/blob/main/assets/github-mark/github-mark.png" alt="GitHub logo" width="45" height="45">
        </div>
    </a></li>
    
    <li><a href="https://www.linkedin.com/in/tucker-schulz-32aa6a223/">   
        <div class="logo">
            <img src="https://github.com/tuckers15/my_website/blob/main/assets/In-Blue-Logo.png?raw=true" alt="linked in logo linked to my linkedin profile" width="45" height="45">
        </div>
    </a></li>

    <li><a href="https://www.goodreads.com/user/show/142807594-tucker-schulz">
        <div class="logo">
            <img src="https://github.com/tuckers15/my_website/blob/main/assets/goodreads_img_link.png" alt="pixel art book linked to my goodreads profile" width="45" height="45">
        </div>
    </a></li>

    <li><a href="mailto:tucker.schulz@gmail.com">
        <div class="logo">
            <img src="https://github.com/tuckers15/my_website/blob/main/assets/email.png" alt="pixel art mail icon linked to my email" width="45" height="45">
        </div>
    </a></li>
</ul>