<!--title-->
<h1>hi, i'm Tucker</h1>
<ul class="socials">
    
    <li><a href="https://github.com/tuckers15" class="social-icon">
        <div class="logo">
        <img src="/resources/github-mark/github-mark.png" alt="github's invertocat logo linked to my profile" width="45" height="45">
        </div>
    </a></li>
    
    <li><a href="https://www.linkedin.com/in/tucker-schulz-32aa6a223/">   
        <div class="logo">
            <img src="../resources/In-Blue-Logo.png" alt="pixel art book linked to my linkedin profile" width="45" height="45">
        </div>
    </a></li>

    <li><a href="https://www.goodreads.com/user/show/142807594-tucker-schulz">
        <div class="logo">
            <img src="../resources/goodreads_img_link.png" alt="pixel art book linked to my goodreads profile" width="45" height="45">
        </div>
    </a></li>

    <li><a href="mailto:tucker.schulz@gmail.com">
        <div class="logo">
            <img src="../resources/email.png" alt="pixel art mail icon linked to my email" width="45" height="45">
        </div>
    </a></li>
</ul>